<div class="card">
  <div class="card-body">
      <h3>{{VarService.name | uppercase}}</h3>
      <hr>
      <input type="number" class="form-control" placeholder="{{VarService.previous}}" disabled>
      <input type="number" class="form-control" placeholder='Input your metric' [(ngModel)] = 'new_metric'>
      <input type="number" class="form-control" placeholder="{{VarService.tariff}}" [(ngModel)] = 'VarService.tariff'>
      <button type="button" class="btn btn-outline-warning" (click)='calculate(new_metric,VarService.previous,  VarService.tariff)'>Calculate</button>
      <p>{{calculating}} UAH</p>
  </div>
</div>