.card{
    min-width: 230px;
    margin: 0 10px 10px;
}
.comservice{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.controlPay{
    display: flex;
    flex-flow: row-reverse;
}